ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: rgb(240, 103, 240);
    color: white;
    text-decoration: none;
    transition: all .3s ease-out;
}


ol a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #560261;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

ol a:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;

    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}
